    <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-block">
            <div class="form-group">
                <%= bootstrap_form_for([@post, @post.comments.build]) do |f| %>
                    <%= f.text_field :commenter, label: "Name", class: 'form-control' %>
                    <%= f.text_area :body, label: "Comment", class: 'form-control', rows: '3' %>
                    <%= f.submit 'Submit', :class => 'btn btn-primary' %>
                <% end %>
            </div>
        </div>
    </div>