    <!-- Page Header -->
    <header class="masthead" style="background-image: url(<%= asset_path ('sky-sunset-header.jpg') %>)">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="site-heading">
                        <h1>Question Everything</h1>
                        <span class="subheading">Seeking the Truth About Everyday Life</span>
                    </div>
                </div>
            </div>
        </div>
    </header>